__pycache__
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info
dist
build
.env
.env.*
!.env.example
node_modules
.git
.gitignore
*.md
!README.md
.vscode
.idea
*.log
logs/
data/sqlite/*.db
data/sqlite/backups/
data/weather_cache/
